@import "./color";
@import './mixin';
@import './utils';
@import './variables';
@import './feeds';

html,
body {
  background-color: $body-background !important;
  color: $main-text-color;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul{
  padding: 0;
  margin: 0;
}
