@import '~StylesPath/color';
@import '~StylesPath/mixin';

$avatar_size: 35px;

.header {
  position: fixed;
  top: 0;
  text-align: left;
  width: 100%;
  background-color: $grey-22;
  color: $white;
  z-index: 90;
  padding: 0 20px;
  height: 40px;

  &__title{
    margin: 0 0 0 100px;
    font-size: 28px;
    font-weight: 500;
    padding: 20px 0;
    @include mobile-view{
      display: none;
    };
  }
  &__logo{
    color: $mobile-header-color;
    font-size: 20px;
    vertical-align: middle;
    text-decoration: none;
    margin-top: 10px;
    span{
      font-weight: 300;
      display: inline-block;
      vertical-align: middle;
      font-size: 25px;
      color: $pink;
    }

    @include mobile-view {
      display: none;
    }
  }
  &__action-btn {
    vertical-align: middle;
    float: right;

    form, .btn-toolbar {
      display: inline-block;
    }

    &.hasAvatar {
      .form-group {
        top: -12px;
      }
    }

    .form-group {
      position: relative;
      margin-right: 10px;
      width: 250px;

      @include mobile-view{
        width: 190px;
      };

      input {
        height: 30px;
        border: none;
        color: #555;
      }
    }
  }

  &__image{
    width: 35px;
    height: 18px;
    background: asset-url("imgs/icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 8px;
  }

  &__btn {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    cursor: pointer;

    @include mobile-view {
      &.btn-signup {
        display: none;
      }
    }
  }
}

